.reviews h2 {
        font-weight: normal;
        text-align: center;
}

.reviews a {
        color: #e5704c;
}

.reviews a:visited {
        color: #aa8335;
}

.tripadvisor, .yelp {
        display: inline-block;
}

.widSSP, .u-horizontal-scrollbar {
        width: 40vw !important;
}

.yelp iframe {
        padding: 20px
}

.leave-review {
        text-align: center;
}

.leave-review img {
        height: 50px;
}

.gazette img{
        width: 50%;
        margin: 0px 25%;
}